/* Grid3D.css */
.grid-container {
  width: 400px;
  height: 400px;
  margin: 50px auto;
  perspective: 800px;
  position: relative;
  transform-style: preserve-3d;
  animation: rotateGrid 20s linear infinite;
}

.grid-line {
  position: absolute;
  background: rgba(255,255,255,0.2);
}

.x-line {
  width: 100%;
  height: 1px;
  top: 0;
}

.y-line {
  width: 1px;
  height: 100%;
  left: 0;
}

@keyframes rotateGrid {
  from {
    transform: rotateX(20deg) rotateY(0deg);
  }
  to {
    transform: rotateX(20deg) rotateY(360deg);
  }
}
