@import "tailwindcss";

@font-face {
  font-family: 'Nunito';
  src: url("/fonts/Nunito/static/Nunito-Regular.ttf") format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito-Light';
  src: url("/fonts/Nunito/static/Nunito-Light.ttf") format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url("/fonts/Rubik_Vinyl/RubikVinyl-Regular.ttf") format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url("/fonts/satoshi-Regular.otf") format('truetype');
  font-weight: 700;
  font-style: normal;
}

@theme {
  --animate-spin-slow: spin 3s linear infinite;

  --color-primary-glow: #3b82f6;

  --color-dark: #050100;
  --color-primary: #26ffff;
  --color-secondary: #26ffa5;
  --color-gray: #c9c9c9;
  --color-white: #f5faff;
  --animate-spin-slow: spin 3s linear infinite;
  --animate-spin-custom: spin 3s linear infinite;
}

html {
  scroll-behavior: smooth;
}

.nunito {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
  overflow-y: scroll;
}

.nunito-light {
  font-family: "Nunito-Light", sans-serif;
  font-weight: 300;
  color: #bbbbbb;
  color: #c9c9c9;
}

.text-white,
.text-gray {
  text-shadow: 0 0 2px black;
}

.satoshi {
  font-family: "Satoshi", sans-serif;
}

.rubik {
  font-family: "Rubik", system-ui;
}

.container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 70px;
  padding-right: 70px;
}


.animate-spin-custom {
  animation: spin 3s linear infinite;
}



.swiper-pagination>.swiper-pagination-bullet {
  background: #26ffffa6 !important;
  width: 24px;
  margin: 0 6px !important;
  height: 24px;
  transition: 0.3s;
  border-radius: 7px;
}

.swiper-pagination>.swiper-pagination-bullet-active {
  background-color: #26ffff !important;
  width: 24px;
  transition: 0.3s;
  height: 24px;
  border-radius: 7px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}