.pyramid-loader {
    position: relative;
    width: 100px;
    height: 100px;
    display: block;
    transform-style: preserve-3d;
    transform: rotateX(-20deg);
}

.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    animation: spin 4s linear infinite;
}

@keyframes spin {
    100% {
        transform: rotateY(360deg);
    }
}

.pyramid-loader .wrapper .side {
    width: 70px;
    height: 70px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transform-origin: center top;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.pyramid-loader .wrapper .side1 {
    transform: rotateZ(-30deg) rotateY(90deg);
    background: conic-gradient(from 180deg, #093a2e, #114232, #36ff9a, #36ff9a, #7effdc, #093a2e);
}

.pyramid-loader .wrapper .side2 {
    transform: rotateZ(30deg) rotateY(90deg);
    background: conic-gradient(from 0deg, #093a2e, #114232, #7effdc, #36ff9a, #093a2e);
}

.pyramid-loader .wrapper .side3 {
    transform: rotateX(30deg);
    background: conic-gradient(from 270deg, #093a2e, #114232, #36ff9a, #36ff9a, #7effdc, #093a2e);
}

.pyramid-loader .wrapper .side4 {
    transform: rotateX(-30deg);
    background: conic-gradient(from 90deg, #093a2e, #7effdc, #36ff9a, #114232, #093a2e);
}


.pyramid-loader .wrapper .shadow {
    width: 60px;
    height: 60px;
    background: radial-gradient(#093a2e, #093a2e, #36ff9a, #093a2e);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transform: rotateX(90deg) translateZ(-40px);
    filter: blur(12px);
}